<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nalatarate.meister">

    <!-- Email auto complete -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MeisterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.FirstActivity" />
        <activity android:name=".ui.activities.LoginActivity"
            android:theme="@style/LoginTheme"/>
        <activity android:name=".ui.activities.RegisterActivity"
            android:theme="@style/LoginTheme"/>
        <activity android:name=".ui.activities.ForgotPasswordActivity"
            android:theme="@style/LoginTheme"/>
        <activity android:name=".ui.activities.HomeActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>